


body{
	background-color:  #eaebef;
}
h1{
	text-align: center;
}

#div1 #i {


}


#div2 input{
	margin-left: 75px;
}


input{
	border-radius: 10px;
}

#div2{
	text-align: center;
	margin-top: 30px;
}
#div2 input{
	width: 350px;
	margin-left: 50px;
}

#div2 #mdp{
	margin-right: 40px;
}



#div1 #labels #prenom{
margin-left: 470px;
margin-right: 250px;
}
#div1 #inputs #prenom{

}
#div1 #inputs #nom{
margin-left: 400px;
margin-right: 150px;
}

#buttons{
	margin-top: 50px;
}
 #buttons #b1{
 	margin-right: 235px;
 	margin-left: 500px;
 	;
}

#main{
	margin-top: 100px;
}