


body{
	background-color:  #eaebef;

}
h1{
	text-align: center;
}
#main{
	text-align: center;
}

#div1 label  {
	text-align: center;



}
#div2 label{
	text-align: center;
}


#textarea #nom{
	margin-left: 50px;
}

#labels #label2{
	margin-left: 150px;
}





textarea{
	border-radius: 10px;
}
input{
	border-radius: 10px;
}

#div2{
	text-align: center;
	margin-top: 30px;
}





#buttons{
	margin-top: 50px;
}
#buttons #b1{
 	margin-right: 235px;
 	margin-left: 500px;
 	;
}

#main{
	margin-top: 100px;
	display: block;
}


#div2 label{
	text-align: center;
	display: block;
	width: 100px;
	

}

