#top{
	height: 100px;
	background-color: #4167b2;
	border: groove;
	border-width: 1px;
	display: flex;
	


}
.haut{
	display: inline-block;
}
#search{
	text-align: center;
	background-color:#4167b2
}
#search textarea{
	margin-bottom: 10px;
	margin-left: 27px;
	margin-top: 15px;
	border-color: blue;
}

#top #logo{
	width:20%;
}

#top #search{
	width:60%;
	margin-left: 30px;
	display: block;
	

}
#top #connect{
	text-decoration: underline;
}


#left{
	float: left;
	height: 600px;
	width: 200px;
	background-color:#eaebef;	
	border: groove;
	border-width: 1px;

	
}

#main #listMessage{
	background-color: ;
	height: 500px;
	text-align: center;
	border-top: groove;
	border-bottom: groove;
	border-right: groove;

	border-width: 1px;
	
	
}
#main #newMessage{
	background-color:#eaebef;	
	height: 100px;
	text-align: center;
	border-top: groove;
	border-width: 1px;
	

}


}
#main #newMessage #inputNewMess{
	width: 500px;

}

 #newMessage {
 	text-align: center;



 }

 #newMessage textarea{
 	margin-top: 10px;
 	margin-right: 100px;
 }

 .message{
 	
 	border-left: 6px solid green;
    background-color: #eaebef;
    margin:10px;
    margin-left: 400px;
    margin-right: 300px;
   
 }

o