body{
	background-color: #eaebef;
}

#connexion_main{
	border: solid 2px;
	margin-left: 120px;
	margin-right: 120px;
	border-radius: 10px;
	opacity: ;
	background-color: #17C5D3;
}

h1{
	color: BLACK;
	text-align: center;
	margin-bottom: 30px;
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}


.ids{

	text-align: center;
	margin-left: 0px;
}

.buttons {
	text-align: center;
	margin-top: 30px;
	

}

#button:hover{
	height: 30px;
	width: 100px;
	background-color: #3498db;
	font-weight: bold;
	


}


.links {

	text-decoration: underline;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;

	

}

.ids{
	margin-right: 20px;
}



#i1{
	margin-left: 45px;

}


#haut{
	margin-top: 200px;
}

input{

	border-radius: 15px;
	margin-right: 4px


}

